/*  Author - Birendra Jung Rai
    Theme - Product Order System
    Version - 1.0
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h2{
    color: #1b2241;
    font-size: 2.5rem;
}
.text-right{
    text-align: right;
}


/* header-links */

.header{
    background-color: #34495e; 
    padding: 3px;
    letter-spacing: 1px;
}

.header-links ul{
    list-style-type: none;
}

.header-links ul li{
    display: inline;
    margin-right: 2%;

}
.header-links a{
    text-decoration: none;
    color: #ecf0f1;
    font-size: 12px;
}
.error {
    color: red;
}

/* nav */
.navbar-nav{
    width: 100%;   
    display: flex;
    justify-content: end;
}
.nav-item{    
    margin-right: 3%;
}
.nav-item a {
    color:#636e72;
    font-weight:700;
}
.nav-item a:hover{ 
    color:#95a5a6;  
   
}
/* search section */
.search{
    background-image: url(../img/bg/bg5.jpg);    
    padding: 7% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    color: white;
}

.search input[type="search"]{
    width: 40%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;  
    margin-right: 1%; 
}


/* Categories */
.categories{
    margin-top: 4%;   
}
.categories-flex{
    display: flex;   
    /* margin-top: 4%;  */
    justify-content: space-evenly; 
    align-items: center; 
    padding: 3%;    
    flex-wrap: wrap;    
}
.category-items{
    align-self: center;   
    display: flex;
    justify-content: center;
}
.category-items img{
    border-radius: 7px;
    display: block;
    max-width: 250px;
    max-height:250px;    
    width: auto;
    height: auto;       
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 40px;
    left: 30%;
    color: white; 

}
.text-bg{
    background-color:  #001F2B;
    padding: 2%;
    border-radius: 3px;    
    letter-spacing: 1px;
    font-size: 1rem;    
}
.category-items a{
    text-decoration: none;
    color: #c0392b;
}
.category-items a:hover{
    font-style: italic;
    color: #c0392b;
}


/* Featured products */

.product-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 3%;     
    
}
.product-flex img{
    display: block;
    max-width: 200px;
    max-height:200px;
    min-height: 200px;
    width: auto;
    height: auto;
}
.thumbnail{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thumbnail a{
    text-decoration: none;
}
.product-name{
    color: #c0392b;
    margin-top: 1%;
}
.see-all a{
    text-decoration: none;
    color: #c0392b;
    font-size: 1rem;
}
.see-all a:hover{
    color: #c0392b;
    font-style: italic;
}


/* social and footer */
.social-links{
    background-color: #34495e;
    padding: 2%;
}
.social-links ul{
    list-style-type: none;
}
.social-links ul li{
    display: inline;
    margin-right: 2%;
}
.fa-facebook{
    font-size: 3rem;
    color: #ecf0f1;
}
.fa-square-instagram{
    font-size: 3rem;
    color: #ecf0f1;
}


/* footer */
.footer{
    background-color:#34495e;
    color: #ecf0f1;
    /* padding: 2%; */
}
.footer p{
    font-size: 0.8rem;
}

/* Description */

.description{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    margin: 2% auto;
    padding: 1%;   
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;    
}
.left img{
    display: block;
    max-width: 250px;
    min-height: 250px;
    width: auto;
    height: auto;
}
.right{
    width: 55%;
    display: flex;
    flex-direction: column;    
}


/* Order */

.order{
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    color:  #001F2B;
}
fieldset{
    padding: 4%;
    border-radius: 5px;
}
.order-label{
    font-weight: bold;
    margin-bottom: 1%
}
.input-responsive{
    width: 95%;
    padding: 1%;
    border: none;
    border-radius: 5px;
}

/* For booking */
.booking{
    border: 1px solid rgb(243, 236, 236);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* For Mobile */
@media only screen and (max-width:992px){    
    .service-items{
        width: 45%;
        margin-bottom: 5%;
    }
    .category-items{
        width: 80%;
        margin-bottom: 5%;
    }
    .product-items{
        width: 30%;
    }
    .service-title{
        margin-top: 1%;
    }
    .product-items{
        margin-bottom: 5%;
    }    
    .tbl_full{
        overflow-x: scroll;
    overflow-y: hidden;
    
    white-space:nowrap;
    }
    
}

@media only screen and (max-width:768px){    
    .service-items{
        width: 80%;
        margin-bottom: 5%;
        /* border: 1px solid green; */
        /* background-color: #ecf0f1; */
        padding: 1%;
    }
    .product-items{
        width: 40%;        
        /* border: 1px solid green; */
        padding: 1%;
        /* background-color: #ecf0f1; */
    }
    .search{         
        padding: 11% 0;        
    }
    
    .search input[type="search"]{
        width: 70%;
        padding: 2%;
        font-size: 0.8rem;       
    }
    .responsive-search-btn{
        width: 70%;
        margin-top: 2%;
        padding: 1%;       
    }
    h2{
        font-size: 2rem;;
    }
   .service-title{
    margin: 0;
   }
   .btn-secondary{
    letter-spacing: 0px;
    padding: 3%;
   }
   .float-text{
    left: 20%;
   }
   .menu{
    padding: 3%;
   }
   .description{
   flex-direction: column;
   }
   .left{
    margin: 3% 0;
    width: 80%;    
   }
   .right{
    width: 90%;
    }
}

@media only screen and (max-width:576px){
    .right{
        width: 90%;
    }
    .left{
        width: 90%;
    }
    .search input[type="search"]{
        padding: 3%;       
    }
}