/*  Author - Birendra Jung Rai
    Theme - Product Order System
    Version - 1.0
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* #content{
    overflow-x: hidden;    
} */

/* #content{
    /* background-color: #001F2B; */   
    /* overflow: hidden; */
    /* margin: 0 auto;     */
    /* overflow-x: hidden;
} */ 
.clearfix{    
    clear: both;
    float: none;
}
.img-responsive{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.btn{
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    /* opacity: 0.7; */
    cursor: pointer;
}

.btn-primary{
    background-color: #009BD6;
    color: white;
}

h2{
    color: #2c3e50;
    font-size: 2.5rem;
}

.btn-secondary{
    background-color: #001F2B;
    padding: 3%;
    letter-spacing: 1px;
    color: white;
}
.btn-secondary:hover{
    background-color:black;
}

/* header-links */

.header{
    background-color: #2c3e50; 
    padding: 0.5% ;
    letter-spacing: 1px;
}

.header-links ul{
    list-style-type: none;
}

.header-links ul li{
    display: inline;
    margin-right: 2%;

}

.header-links ul li a{
    text-decoration: none;
    color: beige;
    font-size: 12px;
}


/* NAV BAR */

nav a{
    align-self: center;
    text-decoration: none;
}
.logo{
    text-transform: uppercase;
    align-self: center;
    letter-spacing: 2px;
    color: #34495e;
    width: 40%;
    
}
.logo img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 90px;
}
.nav-links{
    list-style: none;
    /* align-self: center; */
    
    font-weight: bold;  
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    width: 60%;
    /* background-color: #009BD6; */
}
.nav-links li a{
    text-decoration: none; 
    color: #34495e;
}
.nav-links li a:hover{
    color: #001F2B;
    text-decoration: underline #ff4757;
    text-decoration-thickness: 4px;
}
.burger{
    align-self: center;   
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: #001F2B; 
}

/* search section */
.search{
    background-image: url(../img/bg.jpg);    
    padding: 8% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    /* letter-spacing: 1.5px; */
}

/* Services */

.services{
    margin-top: 4%;
    border-bottom: 1px solid #7f8c8d;
}

.services-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 3%;
}

.service-items{
    /* border: 1px solid black; */
    width: 30%;
    padding: 1%;
}
.service-items img{
    width: 100%;
}
.service-title{
    padding: 1%;
    color: #c0392b;
}
.book-now{
    text-align: center;
    margin: 2%;
}
.book-now a{
    text-decoration: none;
    color: white;
}


/* Categories */
.categories{
    margin-top: 4%;
    /* padding: 2 */
    /* width: 90%; */
    border-bottom: 1px solid #7f8c8d;
}
.categories-flex{
    display: flex;   
    /* margin-top: 4%;  */
    justify-content: space-evenly; 
    align-items: center; 
    padding: 3%;    
    flex-wrap: wrap;
}
.category-items{
    align-self: center;
    /* margin-right: 15px; */
    width: 30%;
}
.category-items img{
    border-radius: 7px;
    width: 100%;
       
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 40px;
    left: 30%;
    color: white; 

}
.text-bg{
    background-color:  #001F2B;
    padding: 4%;
    border-radius: 3px;
    opacity: 0.85;
    letter-spacing: 1px;    
}


/* Featured products */
.featured-products{
    margin-top: 4%;
}

.product-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 4%; */
    padding: 3%;
    
}

.product-items img{
    width: 100%; 
    align-items: center;   
   
}

.product-items{    
    margin: 1%;
    /* padding: 1%; */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.product-items a{
    text-decoration: none;
    text-align: center;    
}

.cart a{
    color: white;
}

.product-name{
    color: #c0392b;
    padding: 1%;
}
.price{
    color: black;
    padding: 1%;
}

.see-all a{
    text-decoration: none;
    color: #34495e;
    font-size: 1.3rem;
}
.see-all a:hover{
    color:#001F2B
}

/* social and footer */
.social-links{
    background-color: #2c3e50;
    padding: 2%;
}
.social-links ul{
    list-style-type: none;
}
.social-links ul li{
    display: inline;
}


/* footer */
.footer{
    background-color: #2c3e50;
    color: white;
    padding: 2%;
}

/* For Mobile */
@media only screen and (max-width:900px){

    body{
        /* background-color: #001F2B; */
        overflow-x: hidden;
    }
   
    .service-items{
        width: 45%;
        margin-bottom: 5%;
    }
    .category-items{
        width: 80%;
        margin-bottom: 5%;
    }
    .product-items{
        width: 30%;
    }
    .service-title{
        margin-top: 1%;
    }
    .product-items{
        margin-bottom: 5%;
    }
    /* NAV */
    .burger{
        display: block;   
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 8vh;
        background-color: black;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;        
    }
   .nav-links li {
    opacity: 0;
   }
   .nav-active{
    transform: translateX(0%);
   } 


}

@media only screen and (max-width:768px){
    .service-items{
        width: 80%;
        margin-bottom: 5%;
        /* border: 1px solid green; */
        /* background-color: #ecf0f1; */
        padding: 1%;
    }
    .product-items{
        width: 40%;        
        /* border: 1px solid green; */
        padding: 1%;
        /* background-color: #ecf0f1; */
    }
    .search{         
        padding: 11% 0;        
    }
    
    .search input[type="search"]{
        width: 90%;
        padding: 1%;
        font-size: rem;
        /* border: none; */
        /* border-radius: 5px; */
        /* letter-spacing: ; */
    }
    .btn{
        width: 88%;
        margin-top: 2%;
        text-align: center;
        padding: 1%;
        opacity: 1;
    }
    h2{
        font-size: 2rem;;
    }
   .service-title{
    margin: 0;
   }
   .btn-secondary{
    letter-spacing: 0px;
    padding: 3%;
   }
   .float-text{
    left: 20%;
   }
}